<html>
	<head>
		<title>七爷论坛</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="title">
			<h1>七爷论坛</h1>
			
			<% if(!ifLogin){%>
			
			<div class="buttons">
				<a href="/login">登录</a>
				<a href="/regist">注册</a>
			</div>
			<%} else{%>
				<div class="nav d_ib">
					<a class="mg_l_20 <%= active=='myshuoshuo'?'active':''%>" href="/user/<%=username %>">我的说说</a>
					<a class="mg_l_20 <%= active=='userlist'?'active':''%>" href="javascript:void(0)">所有用户</a>
				</div>
				
				<div class="welcome">
					<p>欢迎您<%=username %></p>
				</div>
				<a href="/exit">退出</a>
			<%}%>
		</div>
		<br />
		<div class="othershuoshuo mg_l_20">
			<h3><%= user%>的说说</h3>
			<%for(var i=0; i<others.length;i++){%>
				<div class="one">
					<p><%= others[i].content%></p>
					<p><%= others[i].datetime%></p>
				</div>
			<%}%>
		</div>
	</body>
</html>